h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;

  border: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
img {
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #263036;
}
span {
  font-weight: 400;
  color: #000000;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  height: 1667px;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main {
  padding: 58px 55px;
}
.section {
  padding-bottom: 49px;
}
.summary__text {
  font-size: 16px;
  line-height: 19px;
}
.skills__list {
  display: flex;
  width: 621px;
  height: 84px;
  margin-left: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  list-style-type: disc;
}
.work__list {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.work__item:not(:last-child) {
  margin-bottom: 15px;
}
.sidebar {
  width: 385px;
  height: 1667px;
  border-right: 1px solid #000000;
  background-color: #86a3b4;
}
.name {
  padding-top: 58px;
  padding-bottom: 36px;
  padding-left: 40px;
}
.main-title {
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.surname {
  color: #1c2e8c;
}
.photo {
  padding-bottom: 50px;
}
.contact {
  padding-bottom: 36px;
  padding-left: 40px;
}
.contact__item:not(:last-child) {
  margin-bottom: 36px;
}
.contact__discr {
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 29px;
}
.contacts {
  font-size: 16px;
  line-height: 19px;
}
a {
  font-size: 16px;
  line-height: 19px;
  color: #1c2e8c;
}
.languages {
  padding-left: 42px;
}
.languages__item {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #1e1e1e;
}
.education__item {
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}
.title {
  padding-bottom: 28px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 44px;
  color: #1e1e1e;
  border-bottom: 5px solid #000000;
}
.sidebar-title {
  margin-bottom: 31px;
  width: 289px;
  font-size: 32px;
  line-height: 39px;
  color: #263036;
  border-bottom: 6px solid #1e1e1e;
}
.contact-title {
  margin-bottom: 31px;
}
.languages-title {
  margin-bottom: 23px;
}

/* body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;   
}
.top-part{
    display: flex;
    justify-content: space-between;
}
.name{
    font-style: oblique;
    border-bottom: 1px solid rgb(193, 191, 191);
}
img{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid rgb(193, 191, 191);
}
.job-title{
    font-weight: bold;
    border-bottom: 1px solid rgb(193, 191, 191);
}
.cv-table{
    width: 100%;
    background-color: rgb(220, 220, 248);
}
.table-title{
    text-transform: uppercase;
    background-color: rgb(193, 191, 191);
}
a:link{
    color: #00f;
}
a:visited{
    color: #005;
}
a:hover{
    text-decoration: none;
}
.skills-list{
    list-style-type:square;
    border-bottom: 1px solid rgb(193, 191, 191);
}
.achievements-list{
    border-bottom: 1px solid rgb(193, 191, 191);
} */
