/* MAIN */
:root {
  /* colors */

  --color-sidebar-bgc: #86a3b4;
  --color-font-primary: #1e1e1e;
  --color-font-secondary: #263036;
  --color-main-bgc: #ffffff;
  --color-name: #ffffff;
  --color-surname: #1c2e8c;
  --color-font-strong: #000000;
  --color-lines-main: #000000;
  --color-lines-sidebar: #1e1e1e;
  --color-links: #1c2e8c;
  --color-links-hover: #1962f5;

  /* font */

  --font-family: Arial, Helvetica, sans-serif;

  /* sizes */
  --space-main-section: 49px;
  --space-title: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;

  border: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-font-secondary);
}
span {
  font-weight: 400;
  color: var(--color-font-strong);
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--color-main-bgc);
}
.main {
  padding: 58px 55px;
}
.section {
  padding-bottom: var(--space-main-section);
}
.summary__text {
  font-size: 16px;
  line-height: 19px;
}
.skills__list {
  display: flex;
  width: 621px;
  height: 84px;
  margin-left: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  list-style-type: disc;
}
.work__list {
  font-size: 14px;
  line-height: 17px;
  color: var(--color-font-strong);
}
.work__item:not(:last-child) {
  margin-bottom: 15px;
}

/* SIDEBAR */

.sidebar {
  position: sticky;
  top: 0%;
  width: 385px;
  height: 1667px;
  border-right: 1px solid var(--color-lines);
  background-color: var(--color-sidebar-bgc);
  box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
}
.name {
  padding-top: 58px;
  padding-bottom: 36px;
  padding-left: 40px;
}
.hide-wrap {
  padding-left: 40px;
  padding-bottom: 20px;
}
.main-title {
  font-size: 40px;
  line-height: 48px;
  color: var(--color-name);
}
.surname {
  color: var(--color-surname);
}
.photo {
  padding-bottom: 50px;
}
.contact {
  padding-bottom: 36px;
  padding-left: 40px;
}
.contact__item:not(:last-child) {
  margin-bottom: 36px;
}
.contact__discr {
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 29px;
}
.contacts {
  font-size: 16px;
  line-height: 19px;
}
a {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-links);
}
a:hover {
  color: var(--color-links-hover);
}
.languages {
  padding-left: 42px;
  padding-right: 54px;
}
.languages__item {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-font-primary);
}
.education__item {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-font-secondary);
}
.title {
  padding-bottom: var(--space-title);
  margin-bottom: var(--space-title);
  font-size: 36px;
  line-height: 44px;
  color: var(--color-font-primary);
  border-bottom: 5px solid var(--color-lines-main);
}
.sidebar-title {
  margin-bottom: 31px;
  width: 289px;
  font-size: 32px;
  line-height: 39px;
  color: var(--color-font-secondary);
  border-bottom: 6px solid var(--color-lines-sidebar);
}
.contact-title {
  margin-bottom: 31px;
}
.languages-title {
  margin-bottom: 23px;
}

/* FORM */

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  animation: formScale 5000ms linear;
}
@keyframes formScale {
  from {
    transform: scale(200%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
.info {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="email"],
textarea,
#work-type {
  display: block;
  width: 460px;
  appearance: none;
  background-color: #f8fafc;
  border-color: transparent;
  margin-top: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #3b4256;
  border: none;
  border-radius: 4px;
  border-color: #0048d9;
}
input[type="email"]:invalid,
textarea:invalid,
#work-type:invalid {
  border: 1px solid #ed0131;
}
input[type="email"]:valid {
  border: 1px solid #0e6245;
}
#work-type:invalid label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #6f7482;
}
input[type="email"] {
  min-width: 470px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
#work-type {
  min-width: 484px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url("./img/vector.svg") no-repeat center right 10px;
  background-color: #f8fafc;
}
textarea {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 12px 36px 12px;
}
.submit:enabled {
  padding: 5px 16px;
  background-color: #0048d9;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  border-color: #002266;
  cursor: pointer;
}
.submit:hover {
  background-color: #002266;
  color: #ffffff;
  border: none;
}
.submit:focus {
  color: #0048d9;
  border: 1px solid #0048d9;
  background-color: transparent;
}
.submit:focus:hover {
  color: #0048d9;
  border: 1px solid #0048d9;
  background-color: #e7f2fd;
}
.submit:disabled {
  background: rgba(2, 29, 85, 0.45);
  border-radius: 8px;
  color: #ffffff;
  border: none;
}
.submit:focus:disabled {
  background: transparent;
  border-radius: 4px;
  color: #0048d9;
  border: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 420px;
    flex-direction: column-reverse;
  }
  .sidebar {
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .main {
    margin-right: auto;
    margin-left: auto;
  }
  .skills__list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  img:hover {
    padding-bottom: 0px;
    height: auto;
    transform: scale(1.5) translate(64px, 45px);
    transition: transform 350ms ease-in-out;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .previous {
    opacity: 0.7;
    cursor: pointer;
  }
  .previous:hover {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
    cursor: pointer;
  }
  .sidebar {
    animation: rise 3000ms;
  }
  .main {
    animation: rise 2500ms;
  }
  @keyframes rise {
    from {
      transform: translateY(110vh);
      visibility: hidden;
    }
    to {
      transform: translateY(0vh);
      visibility: visible;
    }
  }
}
